# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Compiled Rcpp/RcppArmadillo artifacts
src/*.o
src/*.so
src/*.dll
src/*-win.def
src/RcppExports.o

# R CMD build/check artifacts
/*.tar.gz
/*.Rcheck/

# OS
.DS_Store
Thumbs.db
