import(truncnorm)
import(mc2d)
import(stats)
import(ggplot2)
importFrom(reshape2, melt)
importFrom(ggnewscale, new_scale_fill)
useDynLib(BloodPaTH, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
